<div id="connect-container">

	<head>
		<link rel='stylesheet' type='text/css' href='css/auth.css' />
		<script src='js/auth.js'></script>
	</head>
	<header id="connect-header">
		<h1>Connect ESPN Fantasy Baseball</h1>
		<div>
			<i class="fab fa-discord" style="margin-right:20px; font-size:36px;"></i>
			<i class="fa-solid fa-arrow-right-arrow-left" style="font-size:24px;"></i>
			<i class="fas fa-baseball-ball" style="margin-left:20px; font-size:36px;"></i>
		</div>
	</header>
	<div class="button-container">
		<a href='/connect' class="connect-button">Connect</a>
	</div>
</div>