<div id="connect-container">
	<head>
		<link rel='stylesheet' type='text/css' href='css/connect.css' />
		<script src='js/connect.js'></script>
	</head>
	<header id="connect-header">
		<h1>Connect ESPN Fantasy Baseball</h1>
		<div>
			<i class="fab fa-discord" style="margin-right:20px; font-size:36px;"></i>
			<i class="fa-solid fa-arrow-right-arrow-left" style="font-size:24px;"></i>
			<i class="fas fa-baseball-ball" style="margin-left:20px; font-size:36px;"></i>
		</div>

	</header>
	<form action="/connect" method="POST">
		<div class='input-group'>
			<label class='label' for='swid'>SWID Cookie:</label>
			<input class='input' type='text' id='swid' name='swid' placeholder='Enter SWID Cookie' {{#if
				(userCookiePresent user)}} value="*****" readonly {{/if}} />
		</div>
		<div class='input-group'>
			<label class='label' for='espn_s2'>ESPN_S2 Cookie:</label>
			<input class='input' type='text' id='espn-s2' name='espn_s2' placeholder='Enter ESPN_S2 Cookie' {{#if
				(userCookiePresent user)}} value="*****" readonly {{/if}} />
		</div>
		<div class='input-group'>
			<a href='#' {{#if (userCookiePresent user)}} style="display: visible;" {{/if}}
				class="replace-button">Replace</a>
			<button type='submit' {{#if (userCookiePresent user)}} style="display: none;" {{/if}}>Submit</button>
			<a href='#' {{#if (userCookiePresent user)}} style="display: none;" {{/if}} class="cancel-button">Cancel</a>
		</div>
	</form>
	<div class="container">
        <h1>How To Obtain Cookies</h1>
        <div class="instructions-container">
            <div class="toggle-btn">Click to Toggle Guide</div>
            <div class="instructions" id="instructions">
				<div class="step">
					<p>The easiest way to locate the necessary values is using <a id="chrome-ext" target="_blank" rel="noopener noreferrer" href="https://chromewebstore.google.com/detail/espn-private-league-key-a/bakealnpgdijapoiibbgdbogehhmaopn">this</a> chrome extension</p>
				</div>
                <div class="step">
                    <h2>Step 1</h2>
                    <p>Log into ESPN Fantasy Baseball</p>
                </div>
                <div class="step">
                    <h2>Step 2</h2>
                    <p>Right click anywhere on screen and select "Inspect"</p>
                    <img src="images/inspect-img.png" alt="Step 2">
                </div>
				<div class="step">
                    <h2>Step 3</h2>
                    <p>Click "Application" and on the left-hand side find cookies. You will need to find the one labeled: "https://www.espn.com"</p>
                    <img src="images/espn-cookies-img.png" alt="Step 2">
                </div>
				<div class="step">
                    <h2>Step 4</h2>
                    <p>Find the cookies on the right-hand side of the menu labeled "SWID" and "espn_2" and use these for the fields above.</p>
                </div>
            </div>
        </div>
    </div>
</div>